@import "font";

/*
 * Button
 * Size - normal / large
 * State - disabled / enabled-gradient / enabled-solid   
 */

button {
  font-family: $default-font;
	font-size: 17px;
	letter-spacing: -0.1px;
	text-align: center;
	color: #ffffff;

  // size
  &.normal {
    width: 192px;
	  height: 54px;
	  border-radius: 27px;
  }

  &.large {
    width: 334px;
	  height: 51px;
	  border-radius: 31.5px;
  }
  
  // state
  &.disabled {
    background-color: #d5d8df;
  }
  &.enabled-gradient {
    background-image: linear-gradient(to right, #f86778, #f48354);
  }
  &.enabled-solid {
    background-color: #ff6283;
  }
}

/*
 * Dropdown
 * State - closed / open
 */
.closed {
  
}

.open {

}

select {
  
}



/*
 * Form
 * State - default / focused / error / normal(success)
 */
.default {

}

.focused {

}

.error {

}

.success {

}


input {

}