#navbar {
  
  &.black {
    background-color: #3d3e40;
  }

  &.transparent {
    background-color: transparent;
  }

  .logo-home {
    float: left;
    width: 88px;
    height: 25px;
    
    img {
      display: inline-block;
      width: 88px;
      height: 25px;
      object-fit: contain;
    }
  }

  .navbar-links {
    display: inline-flex;
    text-align: left;
    margin: 31px 0px 29px 0px;

    li {
      display: inline;
    }

    a {
      font-size: 14px;
      text-align: left;
      color: #ffffff;
      text-decoration: none;

      &.selected {
	      color: #ff6283;
      }
    }

    .horizontal-list {
      margin: 0;
      padding: 0;
      float: left;

      &#recruit {
        margin-left: 251px;
        li {
          margin-right: 47px;
        }
      }

      &#login {
        margin-left: 585px;
        li {
          margin-right: 68px;
        }
      }
    }
  }
}