@font-face {
  font-family: SpoqaHanSans;
  src: local("Spoqa Han Sans Regular"), url("../fonts/Spoqa Han Sans Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: SpoqaHanSansBold;
  src: local("Spoqa Han Sans Bold"), url("../fonts/Spoqa Han Sans Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: SpoqaHanSansLight;
  src: local("Spoqa Han Sans Light"), url("../fonts/Spoqa Han Sans Light.ttf");
  font-weight: normal;
}

@font-face {
  font-family: SpoqaHanSansThin;
  src: local("Spoqa Han Sans Thin"), url("../fonts/Spoqa Han Sans Thin.ttf");
  font-weight: normal;
}

/*
 * Button
 * Size - normal / large
 * State - disabled / enabled-gradient / enabled-solid   
 */
button {
  font-family: SpoqaHanSans;
  font-size: 17px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
}

button.normal {
  width: 192px;
  height: 54px;
  border-radius: 27px;
}

button.large {
  width: 334px;
  height: 51px;
  border-radius: 31.5px;
}

button.disabled {
  background-color: #d5d8df;
}

button.enabled-gradient {
  background-image: linear-gradient(to right, #f86778, #f48354);
}

button.enabled-solid {
  background-color: #ff6283;
}

/*
 * Dropdown
 * State - closed / open
 */
/*
 * Form
 * State - default / focused / error / normal(success)
 */
