@font-face {
  font-family: SpoqaHanSans;
  src: local("Spoqa Han Sans Regular"), url("../fonts/Spoqa Han Sans Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: SpoqaHanSansBold;
  src: local("Spoqa Han Sans Bold"), url("../fonts/Spoqa Han Sans Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: SpoqaHanSansLight;
  src: local("Spoqa Han Sans Light"), url("../fonts/Spoqa Han Sans Light.ttf");
  font-weight: normal;
}

@font-face {
  font-family: SpoqaHanSansThin;
  src: local("Spoqa Han Sans Thin"), url("../fonts/Spoqa Han Sans Thin.ttf");
  font-weight: normal;
}
