@font-face {
    font-family: SpoqaHanSans;
    src: local("Spoqa Han Sans Regular"), url('../fonts/Spoqa Han Sans Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: SpoqaHanSansBold;
    src: local("Spoqa Han Sans Bold"), url('../fonts/Spoqa Han Sans Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: SpoqaHanSansLight;
    src: local("Spoqa Han Sans Light"), url('../fonts/Spoqa Han Sans Light.ttf');
    font-weight: normal;
}

@font-face {
    font-family: SpoqaHanSansThin;
    src: local("Spoqa Han Sans Thin"), url('../fonts/Spoqa Han Sans Thin.ttf');
    font-weight: normal;
}

body {
    font-family: SpoqaHanSans;
    margin: 0;
}

.bgimg {
    width: 1440px;
    height: 600px;
    background-image: url('../img/bg-01.jpg');
    color: #ffffff;
}

.top-navbar {
    padding-top: 31px;
    padding-left: 52px;
    padding-bottom: 29px;
}

.top-navbar img {
    width: 88px;
    height: 25px;
    object-fit: contain;
}

.bgimg a {
    color: #ffffff;
    text-decoration: none;
}

.logo-home {
    float: left;
}

.navbar-links {
    float: left;
    font-size: 14px;
    text-align: left;
}

.navbar-links ul {
    margin-top: 4px;
}

.navbar-links #recruit {
    margin-left: 251px;
    padding: 0;
}

.navbar-links #login {
    margin-left: 585px;
    padding: 0;
}

.horizontal-list {
    float: left;
}

.top-navbar ul li {
    display: inline;
    margin-right: 47px;
}

.middle {
    width: 1440px;
    float: middle;
    height: 208px;
    margin: 56px 159px 57px 160px;
}

#main-header {
    margin-top: 80px;
    margin-left: 158px;
}

#main-header h1 {
    margin: 0;
    font-family: SpoqaHanSansLight;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.53;
    letter-spacing: -0.8px;
    text-align: left;
}

#main-header h1 strong {
    font-family: SpoqaHanSans;
}

#main-content {
    margin-top: 17px;
    margin-left: 158px;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: -0.1px;
    text-align: left;
    color: rgba(255, 255, 255, 0.75);
}

#main-content p {
    margin: 0;
}

#to-content-page {
    margin-top: 64px;
    margin-left: 163px;
}

.contents {
    width: 226px;
    height: 54px;
    object-fit: contain;
}

.col-20 {
    float: left;
    padding-right: 21px;
}

.col-40 {
    float: left;
}

.col-40 img {
    width: 663px;
    height: 208px;
}

button {
    width: 192px;
    height: 54px;
    border-radius: 27px;
    background-image: linear-gradient(to right, #f86778, #f48354);
    font-size: 17px;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
}

.chart-area {
    width: 1440px;
    height: 512px;
    background-color: #f7f7f7;
}

.chart-area .wrapper {
    margin-left: 159.5px;
    margin-right: 159.5px;
}

#chart-left {
    padding-right: 15px;
}

#chart-right {
    padding-left: 15px;
}

.chart-wrapper {
    width: 545px;
    float: left;
    margin-top: 61px;
}

.chart-title {
    margin-bottom: 24.3px;
    font-size: 24px;
    letter-spacing: -0.9px;
    text-align: center;
    color: #222222;
}

.chart-title strong {
    font-weight: bold
}

.chart-content-wrapper {
    margin-top: 24px;
}

.chart-content {
    margin-bottom: 9px;
    width: 545px;
    height: 55px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #e9e9e9;
}

.due-date {
    margin: 18.9px 0px 16.1px 32.4px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.5px;
    text-align: left;
    color: #ff6283;
}

.title {
    margin: 18.9px 0px 16.1px 22.9px;
    float: left;
    font-size: 14px;
    letter-spacing: -0.5px;
    text-align: left;
}

.target {
    margin: 18.9px 0px 16.1px 207.8px;
    float: left;
    font-size: 14px;
    letter-spacing: -0.5px;
    text-align: left;
    color: rgba(34, 34, 34, 0.45);
}

.prize {
    margin: 18.9px 26.8px 16.1px 43.1px;
    float: left;
    font-size: 14px;
    letter-spacing: -0.5px;
    text-align: right;
}

button {
    margin-top: 27.7px;
    margin-left: 623.5px;
    margin-right: 623.5px;
    align-content: center;
    align-items: center;
}