@font-face {
  font-family: SpoqaHanSans;
  src: local("Spoqa Han Sans Regular"), url('../fonts/Spoqa Han Sans Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: SpoqaHanSansBold;
  src: local("Spoqa Han Sans Bold"), url('../fonts/Spoqa Han Sans Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: SpoqaHanSansLight;
  src: local("Spoqa Han Sans Light"), url('../fonts/Spoqa Han Sans Light.ttf');
  font-weight: normal;
}

@font-face {
  font-family: SpoqaHanSansThin;
  src: local("Spoqa Han Sans Thin"), url('../fonts/Spoqa Han Sans Thin.ttf');
  font-weight: normal;
}

body {
  font-family: SpoqaHanSans;
  margin: 0;
}

#navbar-black {
  width: 1440px;
  height: 85px;
  background-color: #3d3e40;
}

.logo-home {
  float: left;
  margin: 31px 0px 29px 52px;
}

.logo-home img {
  width: 88px;
  height: 25px;
  object-fit: contain;
}

.navbar-links {
  float: left;
  text-align: left;
  margin: 31px 0px 29px 0px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  font-size: 14px;
  letter-spacing: -0.1px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

a.selected {
  font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.1px;
	text-align: left;
	color: #ff6283;
}

.horizontal-list {
  margin: 0;
  padding: 0;
  float: left;
}

#recruit {
  margin-left: 251px;
}

#recruit li {
  margin-right: 47px;
}

#login {
  margin-left: 585px;
}

#login li {
  margin-right: 68px;
}

#register-info {
  height: 134px;
  border-bottom: 10px;
  border-bottom-color: #f7f7f7;
}

.title {
  width: 1440px;
  margin-top: 52px;
  height: 36px;
  display: flex;
  justify-content: center;
}

.title img {
  margin-top: 5px;
  height: 27px;
  width: 27px;
  float: left;
}

.title h3 {
  height: 36px;
  float: left;
  margin: 0 0 0 10px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: center;
  color: #292a2b;
}

.description {
  width: 1440px;
  display: flex;
  justify-content: center;
}

.description p {
  margin: 0;
  font-size: 14px;
  letter-spacing: -0.1px;
  text-align: center;
  color: rgba(41, 42, 43, 0.6);
}

#recruit-form {
  width: 1440px;
  display: block;
  margin-top: 66px;
}

.form-row {
  width: 1440px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

input,
label {
    display: block;
}

label {
  font-size: 12px;
	font-weight: bold;
	letter-spacing: -0.2px;
	text-align: left;
	color: rgba(41, 42, 43, 0.25);
}

label.unit {
  font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.1px;
	text-align: left;
	color: rgba(41, 42, 43, 0.45);
}

#recruit-form button {
  width: 334px;
	height: 51px;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 61px;
}

.button-disabled {
  border-radius: 31.5px;
	background-color: #d5d8df;
  font-size: 17px;
	letter-spacing: -0.1px;
	text-align: center;
	color: #ffffff;
}