@font-face {
  font-family: SpoqaHanSans;
  src: local("Spoqa Han Sans Regular"), url("../fonts/Spoqa Han Sans Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: SpoqaHanSansBold;
  src: local("Spoqa Han Sans Bold"), url("../fonts/Spoqa Han Sans Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: SpoqaHanSansLight;
  src: local("Spoqa Han Sans Light"), url("../fonts/Spoqa Han Sans Light.ttf");
  font-weight: normal;
}

@font-face {
  font-family: SpoqaHanSansThin;
  src: local("Spoqa Han Sans Thin"), url("../fonts/Spoqa Han Sans Thin.ttf");
  font-weight: normal;
}

body {
  font-family: SpoqaHanSans;
}

#navbar.black {
  background-color: #3d3e40;
}

#navbar.transparent {
  background-color: transparent;
}

#navbar .logo-home {
  float: left;
  width: 88px;
  height: 25px;
}

#navbar .logo-home img {
  display: inline-block;
  width: 88px;
  height: 25px;
  object-fit: contain;
}

#navbar .navbar-links {
  display: inline-flex;
  text-align: left;
  margin: 31px 0px 29px 0px;
}

#navbar .navbar-links li {
  display: inline;
}

#navbar .navbar-links a {
  font-size: 14px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

#navbar .navbar-links a.selected {
  color: #ff6283;
}

#navbar .navbar-links .horizontal-list {
  margin: 0;
  padding: 0;
  float: left;
}

#navbar .navbar-links .horizontal-list#recruit {
  margin-left: 251px;
}

#navbar .navbar-links .horizontal-list#recruit li {
  margin-right: 47px;
}

#navbar .navbar-links .horizontal-list#login {
  margin-left: 585px;
}

#navbar .navbar-links .horizontal-list#login li {
  margin-right: 68px;
}
